<tr>
  <td><%= link_to index, flight_path(flight) %></td>
  <td><%= flight.date.strftime("%m/%d/%Y") %></th>
  <td><%= "#{flight.airplanes.first.make if flight.airplanes.first} #{flight.airplanes.first.model if flight.airplanes.first}" %></td>
  <td><%= "#{flight.flight_airplanes.first.tail_number.upcase if flight.flight_airplanes.first}" %></td>
  <td><%= "#{flight.origin.upcase}" %></th>
  <td><%= "#{flight.destination.upcase if flight.destination}" %></td>
  <td><%= "#{flight.time}" %></th>
  <td><%= simple_format(flight.notes) %> </td>
  <td><%= "#{flight.instructor}" %></td>
</tr>
