<br><br>
<% if @pilot.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pilot.errors.count, "error") %> prohibited this pilot from being saved:</h2>

    <ul>
    <% @pilot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@pilot) do |f| %>
  <label for="pilot_name">Name: (required)</label><br>
  <%= f.text_field :name %><br><br>
  <label for="pilot_age">Age:</label><br>
  <%= f.text_field :age %><br><br>
  <label for="pilot_email">Email: (required)</label><br>
  <%= f.email_field :email %><br><br>
  <label for="pilot_password">Password:</label><br>
  <%= f.password_field :password %><br><br>
  <label for="pilot_password_confirmation">Password confirmation:</label><br>
  <%= f.password_field :password_confirmation %><br><br>
  <%= f.collection_check_boxes :rating_ids, Rating.all, :id, :rating %><br><br>
  <%= f.submit %>
<% end %>
