<div class="pilot-info">
  <h2>Pilot info:</h2>
  <ul>
    <li><strong>Name:</strong><%= " #{@pilot.name.titleize}" %></li>
    <li><strong>Age:</strong><%= @pilot.age ? " #{@pilot.age}" : "  N/A" %></li>
    <li><strong>Flight Hours:</strong><%= " #{@pilot.log_book.total_flight_time}" %></li>
    <li><strong>Ratings:</strong></li>
    <ol class="ratings">
      <% @pilot.ratings.each do |rating| %>
        <li><%= "  *  #{rating.rating}" %></li>
      <% end %>
    </ol>
  </ul><br>
  <%= link_to "Edit Pilot", edit_pilot_path(@pilot) if can_edit? %>
  <% if current_pilot.admin && current_pilot != @pilot %>
    | <%= link_to "Delete Pilot", pilot_path(@pilot), method: :delete %> | <%= link_to "Make Admin", admin_path(@pilot) %>
  <% end %>
</div>
