<h1><%= "#{@pilot.name.capitalize}" %></h1>
<%= render 'pilot-info' %>
<table class="logbook">
  <tr class="w3-theme-d3">
    <th id="number">No.</th>
    <th id="date">Date</th>
    <th id="plane">Airlane<br>Make and Model</th>
    <th id="tail">Tail Number</th>
    <th id="from">From</th>
    <th id="to">To</th>
    <th id="duration">Duration</th>
    <th id="notes">Notes</th>
    <th id="instructor">Instructor</th>
  </tr>
  <%= render(@flights) || "Looks like you don't have any flights yet. click  #{link_to "here", new_pilot_flight_path(@pilot)} to register your first flight." %>
  <tr id="total">
    <td colspan="4" class="hidden"></td>
    <td colspan="2">Total:</td>
    <td><%= @pilot.log_books.first.total_flight_time %></td>
    <td colspan="2" class="hidden"></td>
  </tr>
</table>
<%= link_to "New Flight", new_pilot_flight_path(@pilot), id: "new-flight" %>
