<h1><%= "#{@pilot.name.capitalize}" %></h1>
<%= render 'pilot-info' %>
<table class="logbook">
  <tr class="w3-theme-d3">
    <th id="number">No.</th>
    <th id="date">Date</th>
    <th id="plane">Airlane<br>Make and Model</th>
    <th id="tail">Tail Number</th>
    <th id="from">From</th>
    <th id="to">To</th>
    <th id="duration">Duration</th>
    <th id="notes">Notes</th>
    <th id="instructor">Instructor</th>
  </tr>
  <% @flights.each.with_index(1) do |flight, index| %>
    <%= render partial: "flight", locals: {flight: flight, index: index} %>
  <% end %>

  <tr id="total">
    <td colspan="4" class="hidden"></td>
    <td colspan="2">Total:</td>
    <td><%= @pilot.log_books.first.total_flight_time %></td>
    <td class="hidden"></td>
    <td class="new-flight"><%= link_to "New Flight", new_pilot_flight_path(@pilot) if can_edit? %></td>
  </tr>
</table>
